@model List<Gra>

<h2>Lista gier</h2>

<script>
    $(document).ready(function () {
        $('.btn-usun').click(function () {
            var btn = $(this);
            swal({
                title: 'Na pewno chcesz to usunąć?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Tak,chcę to usunąć!',
                cancelButtonText: 'Anuluj'
            }).then(function () {
                $(btn).closest('form').submit();
            })
        });
    });
</script>

@Html.ActionLink("Dodaj grę", "DetaleGry", "Gra", null, new { @class = "btn btn-default" })
<div class=" row">
    <div class="col-sm-12">
        <table class="table table-striped" style="margin-top:20px;">
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Typ rozgrywek
                </th>
                <th>
                    Miejsce
                </th>
                <th class="hidden-xs">
                    Ilość uczestników
                </th>
                <th style="width:100px;"></th>
            </tr>
            @foreach (Gra gra in Model)
            {
                <tr>
                    <td>
                        @gra.Data
                    </td>
                    <td>
                        @((TypGry)gra.Typ)
                    </td>
                    <td>
                        @gra.Miejsce
                    </td>
                    <td class="hidden-xs">
                        @gra.UczestnicyGry.Where(x => !x.CzyUsuniety).Count()
                    </td>
                    <td>
                        <a href="@Url.Action("DetaleGry","Gra", new { id = gra.Id })" class="btn btn-default btn-sm pull-left" title="Edytuj" style="margin-right:10px;"><span class="glyphicon glyphicon-cog"></span></a>
                        @*to jest zamiana actionLink na a*@
                        @using (Html.BeginForm("Usun", "Gra", FormMethod.Post, new { @class = "pull-left" }))
                        {
                            @Html.Hidden("id", gra.Id)  @*nazwa ma byc tak jak nazwa parametru w kontrolerze , a wartosc pobieramy z konkretnego elementu modelu*@
                            <button type="button" title="Usuń" class="btn btn-default btn-sm btn-usun">
                                <span class="glyphicon glyphicon-trash "></span>
                            </button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
