@model StatystykiViewModel

<script type="text/javascript">
    $(document).ready(function () {
        zmianaIlosciPuenterow();
        zmianaIlosciStrzelcow();

        $("#IloscPuenterow").change(function () {
            zmianaIlosciPuenterow();
        });
        $("#IloscStrzelcow").change(function () {
            zmianaIlosciStrzelcow();
        });
    });

    function zmianaIlosciPuenterow() {
        if ($('#IloscPuenterow').valid()) {
            let podanaIloscTekst = $("#IloscPuenterow").val();
            if (podanaIloscTekst == "") {
                podanaIloscTekst = "0";
            }
            let podanaIlosc = parseInt(podanaIloscTekst);
            let maksymalnaIloscStrzelcow = 3 - podanaIlosc;
            let iloscStrzelcow = $("#IloscStrzelcow").attr("data-val-range-max", maksymalnaIloscStrzelcow);
            ponowniePodepnijWalidacje();
            $('#IloscStrzelcow').valid();
        }
    }

    function zmianaIlosciStrzelcow() {
        if ($('#IloscStrzelcow').valid()) {
            let podanaIloscTekst = $("#IloscStrzelcow").val();
            if (podanaIloscTekst == "") {
                podanaIloscTekst = "0";
            }
            let podanaIlosc = parseInt(podanaIloscTekst);
            let maksymalnaIloscPuenterow = 3 - podanaIlosc;
            let iloscStrzelcow = $("#IloscPuenterow").attr("data-val-range-max", maksymalnaIloscPuenterow);
            ponowniePodepnijWalidacje();
            $('#IloscPuenterow').valid();
        }
    }

    function ponowniePodepnijWalidacje() {
        let form = $("#formularzStatystyk");
        form.unbind();
        form.data("validator", null);
        $.validator.unobtrusive.parse(document);
    }

</script>

<h2>Statystyki</h2>

@using (Html.BeginForm("Statystyki", "Gra", FormMethod.Get, new { id = "formularzStatystyk" }))
{
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="form-group ">
                @Html.LabelFor(x => x.DataOd)
                <div class='input-group date'>
                    @Html.TextBoxFor(x => x.DataOd, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.DataOd) })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(x => x.DataOd)
            </div>
        </div>


        <div class="col-sm-4 col-md-3">
            <div class="form-group ">
                @Html.LabelFor(x => x.DataDo)
                <div class='input-group date'>
                    @Html.TextBoxFor(x => x.DataDo, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.DataDo) })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(x => x.DataDo)
            </div>
        </div>
        <div class="col-sm-4">
            <div class=" form-group">
                @Html.LabelFor(x => x.Plec)
                <div class=" input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></div>
                    @Html.DropDownListFor(x => x.Plec, Model.ListaPlci, "Dowolna", new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Plec) })
                </div>
                @Html.ValidationMessageFor(x => x.Plec)
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-block" style="margin-top:25px;">Filtruj</button>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped" style="margin-top:20px;">

                <tr>
                    <th>
                        Gracz
                    </th>
                    <th>
                        Średnia punktów
                    </th>
                    <th>
                        Pozycja zawodnika
                    </th>
                    <th>
                        Ilość spotkań
                    </th>
                    <th>
                        Płeć
                    </th>
                </tr>
                @if (Model.ListaStatystykZawodnikow.Count == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            Brak danych.
                        </td>
                    </tr>
                }
                @foreach (StatystykiZawodnika statystyki in Model.ListaStatystykZawodnikow)
                {
                    <tr>
                        <td>
                            @statystyki.Imie @statystyki.Nazwisko
                        </td>
                        <td>
                            @statystyki.SredniaOcen
                        </td>
                        <td>
                            @statystyki.Pozycja
                        </td>
                        <td>
                            @statystyki.IloscSpotkan
                        </td>
                        <td>
                            @statystyki.Plec.PobierzOpisEnuma()
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div>
        <h3>Proponowany skład</h3>
    </div>

    <div class="row">

        <div class="col-sm-4 col-md-3">
            <div class="form-group">
                @Html.LabelFor(x => x.IloscPuenterow)
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    @Html.TextBoxFor(x => x.IloscPuenterow, new { @class = "form-control", placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(x => x.IloscPuenterow).ToString()) })
                </div>
                @Html.ValidationMessageFor(x => x.IloscPuenterow)
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="form-group">
                @Html.LabelFor(x => x.IloscStrzelcow)
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    @Html.TextBoxFor(x => x.IloscStrzelcow, new { @class = "form-control", placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(x => x.IloscStrzelcow).ToString()) })
                </div>
                @Html.ValidationMessageFor(x => x.IloscStrzelcow)
            </div>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-block" style="margin-top:25px;">Generuj skład</button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped" style="margin-top:20px;">

                <tr>
                    <th>
                        Gracz
                    </th>
                    <th>
                        Średnia punktów
                    </th>
                    <th>
                        Pozycja zawodnika
                    </th>
                    <th>
                        Ilość spotkań
                    </th>
                </tr>
                @if (Model.ListaProponowanychZawodnikow.Count == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            Brak danych.
                        </td>
                    </tr>
                }
                @foreach (StatystykiZawodnika statystyki in Model.ListaProponowanychZawodnikow)
                {
                    <tr>
                        <td>
                            @statystyki.Imie @statystyki.Nazwisko
                        </td>
                        <td>
                            @statystyki.SredniaOcen
                        </td>
                        <td>
                            @statystyki.Pozycja
                        </td>
                        <td>
                            @statystyki.IloscSpotkan
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}